# Python
backend/.venv/
__pycache__/
*.pyc
backend/.env

# Node
frontend/node_modules/
frontend/dist/

# Прочее
.DS_Store
*.log

frontend/tsconfig.tsbuildinfo
frontend/dist-pages/
backend/data/
backend/.venv/
